<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Excuses Generator</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!--  JS???
  -------------------------------------------------- -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>


  <!-- for texillate
  -------------------------------------------------- -->
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <script type="text/javascript" src="jquery-1.11.3.js"></script>
  <script src="jquery.lettering.js"></script>
  <script src="jquery.textillate.js"></script>
  <script src="excuse_text.js"></script>



</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">

      <div id="excuse-text" >
        <h4 class="title"><%= yield %></h4>
      </div>

<<<<<<< HEAD
<!-- original buttons -->
    <!--   <div id="headbuttons">
        <table>
          <form method="get" action="/late">
            <button class="headerbuttons">Late</button>
          </form>
          <form method="get" action="/absent">
            <button class="headerbuttons">Absent</button>
          </form>
          <form method="get" action="/dont_want_to">
            <button class="headerbuttons">Don't Want To</button>
          </form>
          <form method="get" action="/dont_have_it">
            <button class="headerbuttons">Don't Have It</button>
          </form>
        </table>
      </div> -->


      <div class="owl-row">
        <div class="owl-columns">
          <a href="/late">
            <img src="/images/owl_late.png">
            <p>Late</p>
          </a>
        </div>
        <div class="owl-columns">
         <a href="/absent">
            <img src="/images/owl_absence.png">
            <p>Absent</p>
          </a>
        </div>
        <div class="owl-columns">
         <a href="/dont_want_to">
            <img src="/images/owl_dont_want_to.png">
            <p>Don't Want To</p>
          </a>
        </div>
        <div class="owl-columns">
         <a href="/dont_have_it">
            <img src="/images/owl_dont_have_it.png">
            <p>Don't Have It</p>
          </a>
        </div>
      </div>

    </section>

      
  


  <!-- spacing
  -------- -->

  <div id="main-page-space">
  </div>

  <!-- Top 10 
  --------------- -->

  
  <div id="top-excuse-head">
    <p><h4>Top Excuses</h4></p>
  </div>

  <div id="top-excuse">
    <div id="top-excuse-list">
      <ul id="top-excuse-ul">
        <li id="top-excuse-li"><h4><%= @beginning.phrase %> because <%= @middle.phrase %> so <%= @final.phrase %></h4></li>
        <li id="top-excuse-li"><h4><%= @beginning.phrase %> because <%= @middle.phrase %> so <%= @final.phrase %></h4></li>
        <li id="top-excuse-li"><h4><%= @beginning.phrase %> because <%= @middle.phrase %> so <%= @final.phrase %></h4></li>
        <li id="top-excuse-li"><h4><%= @beginning.phrase %> because <%= @middle.phrase %> so <%= @final.phrase %></h4></li>
        <li id="top-excuse-li"><h4><%= @beginning.phrase %> because <%= @middle.phrase %> so <%= @final.phrase %></h4></li>
      </ul>
    </div>
  </div>

  <!-- spacing
  -------- -->

  <div id="bottom-page-space">
  </div>  

  <!-- End Document
  ------------------------------ -->
</body>
</html>
